/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.php
app/Http/Controllers/UserController.php
app/Http/Middleware/UserMiddleware.php
database/migrations/2014_10_12_000000_create_users_table.php
